.Pagination {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0px auto;
}
.PaginationItem {
  font-weight: 600;
  font-size: 0.75rem;
  min-width: 25px;
  padding: 5px;
  background: #ccc;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center;
}
.PaginationItem:hover {
  background: #eee;
  border: 1px solid #eee;
  cursor: pointer;
}
.Current {
  background: #abc;
  border: 1px solid #777;
}
@media (min-width: 879px) {
  .Pagination {
    width: 40%;
  }
}
