.ViewsPerPageContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.ViewsPerPageContainer > button {
  margin: 1px;
  padding: 5px 5px;
  width: 30px;
  background: #ccc;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.ViewsPerPageContainer > button.Selected {
  background: #abf;
  border: 1px solid #777;
}

.ViewsPerPageContainer > button:hover {
  cursor: pointer;
  background: #eee;
  border: 1px solid #eee;
}
.Label {
  margin: 0 1px;
  font-weight: 600;
}
