.ViewLaunch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}
.ViewLaunch > div {
  display: flex;
}
.ViewLaunch > div:last-child {
  display: inline-flex;
  justify-content: flex-end;
}
.ViewLaunch > div > span {
  font-weight: 600;
}
.Button {
  padding: 5px;
}
.Button > button {
  color: #eee;
  background: #053f75;
  border: 1px solid #053f75;
  border-radius: 2px;
  padding: 4px 10px;
}
.Button > button:hover {
  color: #333;
  background: #ccc;
  border: 1px solid #ccc;
  cursor: pointer;
}
