.LaunchesTable,
.Row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Row {
  width: 95%;
  margin: 5px auto;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px #aaa;
}
.Row > div,
.Row button {
  padding: 5px 10px;
}

.Row button {
  border: none;
  outline: none;
  border-radius: 2px;
  background: #053f75;
  color: #eee;
  width: 100%;
}
.Row button:hover {
  color: #eee;
  cursor: pointer;
  opacity: 0.7;
}

.Row:nth-child(odd) {
  background: #cdd;
}
.Label {
  font-weight: 600;
  display: inline-flex;
  width: 120px;
}
.TitleLabel > div {
  font-weight: 600;
}
.TitleLabel {
  display: none;
}

.Row:nth-child(odd).TitleLabel {
  background: #333;
  color: #eee;
}

@media (min-width: 600px) {
  .LaunchesTable {
    justify-content: space-between;
  }

  .Row {
    flex-direction: row;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    padding: 5px 0px;
  }
  .Row > div {
    width: 20%;
    text-align: center;
  }
  .Row button {
    width: auto;
  }
  .Label {
    display: none;
  }
  .TitleLabel > div {
    display: inline;
  }
  .TitleLabel {
    display: flex;
  }
}
