.Header {
  width: 100%;
  max-width: 879px;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #ccc;
  font-size: 0.9rem;
  background-image: url("../../assets/images/space.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Header > *:nth-child(odd) {
  order: 1;
}

@media (min-width: 426px) {
  .Header {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1rem;
    background-size: 100% 100%;
  }
  .Header > *:nth-child(odd) {
    order: 0;
  }
}
